body {
    font-family: Arial, sans-serif;  
    padding: 0;
    margin: 0;
    background-color:	#4B5320;
    color: #F5F5DC;
}
.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #4B5320; 
    padding: 20px 0;
  }
  .navbar a {
    text-decoration: none;
    color:#F5F5DC;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: white; 
  }


  .hero {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 80vh;
  padding-top: 100px; 
  text-align: center;
  background-image: url('../images/pic1.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  background-color: #4B5320; 

  }
.hero h1{
     font-size: 4rem; 
     color:#F5F5DC;
  }
    
.hero p{
    font-size: 2rem; 
    color:#F5F5DC;
 }
 .hero a{
    width: 70px;
    height: 70px;
    background-color: white;
    color: #4B5320;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
 }
 html {
    scroll-behavior: smooth;
  }
  .footer {
    text-align: center;
    background-color: #4B5320;
    color: #F5F5DC;
    padding: 20px;
    font-size: 1rem;
    position: relative; 
    width: 100%;
  }
  

 

